<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random User Generator | Change Log</title>
    <!-- META -->
    <meta charset='utf-8'>
    <meta name="description" content="Random user generator is a FREE API for generating placeholder user information. Get profile photos, names, and more. It's like Lorem Ipsum, for people.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="dist/style.css">

    <!-- JS -->
    <script src="dist/all.js"></script>
</head>
<body class="changelog">

    <div id="navigation" class="">
        <div class="nav_toggle">
            <div class="icon">
                <div></div><div></div><div></div>
            </div>
        </div>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="photos">User Photos</a></li>
            <li><a href="documentation">Documentation</a></li>
            <li><a href="changelog">Change Log</a></li>
            <li><a href="stats">Stats &amp; Graphs</a></li>
            <li><a href="donate">Donate</a></li>
            <li><a href="copyright">Copyright Notice</a></li>
            <li class="blank"></li>
            <li><a href="photoshop">Photoshop Extension</a></li>
            <li><a href="sketch">Sketch Extension</a></li>
        </ul>
    </div>

    <header class="subpage">
        <h1>Change Log</h1>
        <p>API Changes &amp; Updates</p>
        <a href="https://twitter.com/randomapi" class="twitter"><img src="img/twitter.png">Follow us @randomapi</a>
    </header>

    <div class="frame">
        <section id="0.8">
            <h2>Version 0.8</h2>
            <span>2/4/2016</span>
            <ul>
                <li>User Generator is <a href="https://github.com/RandomAPI">open source</a>!</li>
                <li>Added BR, CA, CH, DE, IR, and NZ</li>
            </ul>
        </section>
        <section id="0.7">
            <h2>Version 0.7</h2>
            <span>7/27/2015</span>
            <ul>
                <li>Huge performance update</li>
                <li>You can now generate up to 2,000 users per request now</li>
            </ul>
        </section>
        <section id="0.6">
            <h2>Version 0.6</h2>
            <span>5/8/2015</span>
            <ul>
                <li>Fixed seed bug that didn't respect nationalities</li>
                <li>Seed is returned on 1st result only and is meant to regenerate a request with multiple results.</li>
                <li>Added AU, ES, FI, FR, IE, and NL</li>
                <li>Fixed GB phone numbers, zipcodes, and changed SSN to NINO</li>
                <li>RandomAPI members can now generate up to 1,000 results per call, <a href="documentation#multiple">Learn more</a></li>
            </ul>
        </section>
        <section id="0.5">
            <h2>Version 0.5</h2>
            <span>3/3/2015</span>
            <ul>
                <li>Added nationalities</li>
            </ul>
        </section>
        <section id="0.4.1">
            <h2>Version 0.4.1</h2>
            <span>9/12/2014</span>
            <ul>
                <li>Added new picture options (medium and thumbnail)</li>
                <li><a href="documentation#format">New formats</a> added (sql, csv, and yaml)</li>
            </ul>
        </section>

        <section id="0.4">
            <h2>Version 0.4</h2>
            <span>5/3/2014</span>
            <ul>
                <li>Redesigned and rebranded the Random User API website and platform</li>
                <li>We doubled our profile photo database! We now return 100 male and 100 female portraits.</li>
                <li>Salts now use strictly alphanumeric characters.</li>
                <li>Restructured our file system to avoid redundancy</li>
                <li>Optimized generator</li> 
            </ul>
        </section>

        <section id="0.3">
            <h2>Version 0.3</h2>
            <span>1/14/2014</span>
            <ul>
                <li>Added Usernames, Salts, SHA-256 hash, registration date, and DoB fields</li>
                <li>md5_hash and sha1_hash have been changed to md5 and sha1 respectively</li>
            </ul>
        </section>

        <section id="0.2.1">
            <h2>Version 0.2.1</h2>
            <span>9/10/2013</span>
            <ul>
                <li>Fixed seed generation bug</li>
            </ul>
        </section>

        <section id="0.2">
            <h2>Version 0.2</h2>
            <span>9/5/2013</span>
            <ul>
                <li>Request a specific gender using the `gender` parameter</li>
            </ul>
        </section>

        <section id="0.1">
            <h2>Version 0.1</h2>
            <span>8/6/2013</span>
            <ul>
                <li>Initial public release</li>
            </ul>
        </section>

        <section class="advertisement">
            <!-- ADS -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:inline-block;width:230px;height:200px"
                data-ad-client="ca-pub-2036801804961954"
                data-ad-slot="7646598623"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:inline-block;width:230px;height:200px;margin:0 16px;"
                data-ad-client="ca-pub-2036801804961954"
                data-ad-slot="7646598623"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:inline-block;width:230px;height:200px"
                data-ad-client="ca-pub-2036801804961954"
                data-ad-slot="7646598623"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>

    </div>
    <footer>
        <div class="frame">
            <h1>Random User Generator</h1>
            <div class="block">
                <div class="builder">
                    <h3>Designed</h3>
                    <a href="http://twitter.com/arronhunt"><img src="img/creator_arron.png" width="80px" alt="Designed by Arron Hunt" title="Designed by Arron Hunt" /></a>
                </div>
                <div class="builder">
                    <h3>Developed</h3>
                    <a href="http://twitter.com/solewolf1993"><img src="img/creator_keith.png" width="80px" alt="Developed by Keith Armstrong" title="Developed by Keith Armstrong" /></a>
                </div>
            </div>
            <div class="block">
            <h3>Copyright Notice</h3>
            <p>All randomly generated photos are copyrighted under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons BY-NC-SA 2.0</a> license. These photos were hand picked from Greg Peverill-Conti's <a href="http://www.flickr.com/photos/gregpc/">1,000 faces project</a>.</p>
            </div>
        </div>
    </footer>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-42942064-1', 'randomuser.me');
          ga('send', 'pageview');
    </script>

</body>
</html>
