<!DOCTYPE html>
<html lang="en">
<head>
	<title>Random User Generator | Copyright</title>
	<!-- META -->
	<meta charset='utf-8'>
	<meta name="description" content="Random user generator is a FREE API for generating placeholder user information. Get profile photos, names, and more. It's like Lorem Ipsum, for people.">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="dist/style.css">

	<!-- JS -->
	<script src="dist/all.js"></script>
</head>
<body class="stats">

	<div id="navigation" class="">
		<div class="nav_toggle">
			<div class="icon">
				<div></div><div></div><div></div>
			</div>
		</div>
		<ul>
		    <li><a href="index">Home</a></li>
		    <li><a href="photos">User Photos</a></li>
		    <li><a href="documentation">Documentation</a></li>
		    <li><a href="changelog">Change Log</a></li>
		    <li><a href="stats">Stats &amp; Graphs</a></li>
		    <li><a href="donate">Donate</a></li>
		    <li><a href="copyright">Copyright Notice</a></li>
		    <li class="blank"></li>
		    <li><a href="photoshop">Photoshop Extension</a></li>
		    <li><a href="sketch">Sketch Extension</a></li>
	  	</ul>
	</div>

	<header class="subpage">
		<h1>Copyright</h1>
		<p>All the fun legal stuff. Yay.</p>
		<a href="https://twitter.com/randomapi" class="twitter"><img src="img/twitter.png">Follow us @randomapi</a>
	</header>

	<div class="frame">
		<section>
			<h2>Copyright Notice</h2>
			<p>All randomly generated photos are copyrighted under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a>. These photos were hand picked from Greg Peverill-Conti's <a href="https://www.flickr.com/photos/gregpc/">1,000 faces project</a>.</p>
		</section>
		<section>
			<h2>You are free to:</h2>
			<ul>
				<li><strong>Share</strong> — copy and redistribute the material in any medium or format</li>
				<li><strong>Adapt</strong> — remix, transform, and build upon the material </li>
			</ul>
			<p>The licensor cannot revoke these freedoms as long as you follow the license terms.</p>
		</section>
		<section>
			<h2>Under the following terms:</h2>
			<ul>
				<li><strong>Attribution</strong> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use. </li>
				<li><strong>NonCommercial</strong> — You may not use the material for commercial purposes. </li>
				<li><strong>ShareAlike</strong> — If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original. </li>
			</ul>
			<p>No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits. </p>
		</section>
		<section>
			<h2>Other notices:</h2>
			<p>You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.</p>
    		<p>No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.</p>
		</section>
		<section>
			<h2>Have Questions?</h2>
			<p>If you are unsure about our licensing or have questions left un-answered, send an email to support[at]randomapi[dot]com
		</section>
	</div>
	<footer>
		<div class="frame">
			<h1>Random User Generator</h1>
			<div class="block">
				<div class="builder">
					<h3>Designed</h3>
					<a href="http://twitter.com/arronhunt"><img src="img/creator_arron.png" width="80px" alt="Designed by Arron Hunt" title="Designed by Arron Hunt" /></a>
				</div>
				<div class="builder">
					<h3>Developed</h3>
					<a href="http://twitter.com/solewolf1993"><img src="img/creator_keith.png" width="80px" alt="Developed by Keith Armstrong" title="Developed by Keith Armstrong" /></a>
				</div>
			</div>
			<div class="block">
			<h3>Copyright Notice</h3>
			<p>All randomly generated photos are copyrighted under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons BY-NC-SA 2.0</a> license. These photos were hand picked from Greg Peverill-Conti's <a href="http://www.flickr.com/photos/gregpc/">1,000 faces project</a>.</p>
			</div>
		</div>
	</footer>

	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-42942064-1', 'randomuser.me');
		  ga('send', 'pageview');
	</script>

</body>
</html>
