<section class="advertisement">
  <!-- ADS -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
    style="display:inline-block;width:230px;height:200px"
    data-ad-client="ca-pub-2036801804961954"
    data-ad-slot="7646598623"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <ins class="adsbygoogle"
    style="display:inline-block;width:230px;height:200px;margin:0 16px;"
    data-ad-client="ca-pub-2036801804961954"
    data-ad-slot="7646598623"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <ins class="adsbygoogle"
    style="display:inline-block;width:230px;height:200px"
    data-ad-client="ca-pub-2036801804961954"
    data-ad-slot="7646598623"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>