<footer>
  <div class="frame">
    <h1>Random User Generator</h1>
    <div class="block">
      <div class="builder">
        <h3>Designed</h3>
        <a href="http://twitter.com/arronhunt"><img src="img/creator_arron.png" width="80px" alt="Designed by Arron Hunt" title="Designed by Arron Hunt" /></a>
      </div>
      <div class="builder">
        <h3>Developed</h3>
        <a href="http://twitter.com/solewolf1993"><img src="img/creator_keith.png" width="80px" alt="Developed by Keith Armstrong" title="Developed by Keith Armstrong" /></a>
      </div>
    </div>
    <div class="block">
      <h3>Copyright Notice</h3>
      <p>All randomly generated photos were hand picked from the authorized section of <a href="http://uifaces.com">UI Faces</a>. Please visit <a href="https://web.archive.org/web/20160811185628/http://uifaces.com/faq">UI Faces FAQ</a> for more information regarding how you can use these faces.<br><br>
      <!-- Everyone says "Made with ♥ in blah" and it annoys me for some unknown reason so...take that
      Made with <span class="icon-heart-broken" title="hatred"></span> in North America.</p> -->
    </div>
  </div>
</footer>