<footer>
  <div class="frame">
    <h1>Random User Generator</h1>
    <div class="block">
      <div class="builder">
        <h3>Designed</h3>
        <a href="http://twitter.com/arronhunt"><img src="img/creator_arron.png" width="80px" alt="Designed by Arron Hunt" title="Designed by Arron Hunt" /></a>
      </div>
      <div class="builder">
        <h3>Developed</h3>
        <a href="http://twitter.com/solewolf1993"><img src="img/creator_keith.png" width="80px" alt="Developed by Keith Armstrong" title="Developed by Keith Armstrong" /></a>
      </div>
    </div>
    <div class="block">
      <h3>Copyright Notice</h3>
      <p>All randomly generated photos are copyrighted under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons BY-NC-SA 2.0</a> license. These photos were hand picked from Greg Peverill-Conti's <a href="http://www.flickr.com/photos/gregpc/">1,000 faces project</a>.<br><br>
      <!-- Everyone says "Made with ♥ in blah" and it annoys me for some unknown reason so...take that -->
      Made with <span class="icon-heart-broken" title="hatred"></span> in North America.</p>
    </div>
  </div>
</footer>