<div id="navbar" class="">
  <div class="nav_toggle">
    <div class="icon">
      <div></div><div></div><div></div>
    </div>
  </div>
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="photos">User Photos</a></li>
    <li><a href="documentation">Documentation</a></li>
    <li><a href="changelog">Change Log</a></li>
    <li><a href="stats">Stats &amp; Graphs</a></li>
    <li><a href="donate">Donate</a></li>
    <li><a href="copyright">Copyright Notice</a></li>
    <li class="blank"></li>
    <li><a href="photoshop">Photoshop Extension</a></li>
    <!--<li><a href="sketch">Sketch Extension</a></li>-->
  </ul>
</div>
