<header class="subpage">
  <h1><%= subpageData.title %></h1>
  <p><%= subpageData.subTitle %></p>
  <a href="https://twitter.com/randomapi" class="twitter"><img src="img/twitter.png">Follow us @randomapi</a>
</header>