<% include ../snippets/header %>

<body class="stats">

  <% include ../snippets/nav %>

  <% var subpageData = {title: "Copyright", subTitle: "All the fun legal stuff. Yay."}; %>
  <% include ../snippets/subpage %>

  <div class="frame">
    <section>
      <h2>Copyright Notice</h2>
      <p>All randomly generated photos are copyrighted under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a>. These photos were hand picked from Greg Peverill-Conti's <a href="https://www.flickr.com/photos/gregpc/">1,000 faces project</a>.</p>
    </section>
    <section>
      <h2>You are free to:</h2>
      <ul>
        <li><strong>Share</strong> — copy and redistribute the material in any medium or format</li>
        <li><strong>Adapt</strong> — remix, transform, and build upon the material </li>
      </ul>
      <p>The licensor cannot revoke these freedoms as long as you follow the license terms.</p>
    </section>
    <section>
      <h2>Under the following terms:</h2>
      <ul>
        <li><strong>Attribution</strong> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use. </li>
        <li><strong>NonCommercial</strong> — You may not use the material for commercial purposes. </li>
        <li><strong>ShareAlike</strong> — If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original. </li>
      </ul>
      <p>No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits. </p>
    </section>
    <section>
      <h2>Other notices:</h2>
      <p>You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.</p>
      <p>No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.</p>
    </section>
    <section>
      <h2>Have Questions?</h2>
      <p>If you are unsure about our licensing or have questions left un-answered, send an email to support[at]randomapi[dot]com
    </section>
    <% include ../snippets/ads %>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
