<% include ../snippets/header %>

<body class="stats">

  <% include ../snippets/nav %>

  <% var subpageData = {title: "Copyright", subTitle: "All the fun legal stuff. Yay."}; %>
  <% include ../snippets/subpage %>

  <div class="frame">
    <section>
      <h2>Copyright Notice</h2>
      <p>All randomly generated photos were hand picked from the authorized section of <a href="http://uifaces.com">UI Faces</a>. Please visit <a href="https://web.archive.org/web/20160811185628/http://uifaces.com/faq">UI Faces FAQ</a> for more information regarding how you can use these faces.</p>
    </section>
    <section>
      <h2>Have Questions?</h2>
      <p>If you are unsure about our licensing or have questions left un-answered, tweet us <a href="https://twitter.com/randomapi">@randomapi</a></p>
    </section>
    <% include ../snippets/ads %>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
