<% include ../snippets/header %>

<body class="">

  <% include ../snippets/nav %>

  <header>
    <h1>Random User Generator</h1>
    <p>A free, <a id="openSource" href="https://github.com/randomapi">open-source</a> API for generating random user data. Like Lorem Ipsum, but for people. </p>
    <a href="https://twitter.com/randomapi" class="twitter"><img src="img/twitter.png">Follow us @randomapi</a>
  </header>

  <div class="frame card_offset">
    <div class="card">
      <div class="details">
        <div class="user_photo horizontal_center" id="user_photo">
          <a href="javascript:getNewUser();" class="refresh">New</a>
          <img src="">
        </div>
        <p id="user_title">Hi, My name is</p>
        <p id="user_value">...</p>
      </div>

      <ul class="values_list horizontal_center" id="values_list">
        <li data-title="Hi, My name is"
          data-value="..."
          data-label="name"
          class="active"></li>
        <li data-title="My email address is"
          data-value="..."
          data-label="email"
          data-caps="false"></li>
        <li data-title="My birthday is"
          data-value="..."
          data-label="birthday"></li>
        <li data-title="My address is"
          data-value="..."
          data-label="location"></li>
        <li data-title="My phone number is"
          data-value="..."
          data-label="phone"></li>
        <li data-title="My password is"
          data-value="..."
          data-label="pass"
          data-caps="false"></li>
      </ul>
    </div>
  
    <% include ../snippets/ads %>

    <section>
      <h2>How to use</h2>
      <p>You can use AJAX to call the Random User Generator API and will receive a randomly generated user in return. If you are using jQuery, you can use the $.ajax() function in the code snippet below to get started.</p>
      <pre>
$.ajax({
  url: '<span>https://randomuser.me/api/</span>',
  dataType: '<span>json</span>',
  success: function(<span>data</span>) {
    console.log(<span>data</span>);
  }
});
      </pre>
    </section>

    <section>
      <h2>Results</h2>
      <p>The application will provide you with a JSON, SQL, CSV, or YAML object that you can parse and apply to your application.</p>
      <p>You can specify the format you want the results in using the <a href="documentation#format">format</a> parameter.</p>
<pre>
{
  "results": [
    {
      "gender": "<span>male</span>",
      "name": {
        "title": "<span>mr</span>",
        "first": "<span>samuel</span>",
        "last": "<span>ross</span>"
      },
      "location": {
        "street": "<span>5592 pockrus page rd</span>",
        "city": "<span>santa ana</span>",
        "state": "<span>oregon</span>",
        "postcode": <span>69974</span>
      },
      "email": "<span>samuel.ross@example.com</span>",
      "login": {
        "username": "<span>silverwolf434</span>",
        "password": "<span>blackjac</span>",
        "salt": "<span>d14iEZQT</span>",
        "md5": "<span>261a57061d35918f5c3ef7f90f4f2a80</span>",
        "sha1": "<span>c330ad8c974ab9982622d5d5506cfed4886a79ab</span>",
        "sha256": "<span>8ca4a1ca48975a69bd829de61298cd6a950dede740d4c0e755d07ee4cfc06fa5</span>"
      },
      "registered": <span>1155461743</span>,
      "dob": <span>1078494582</span>,
      "phone": "<span>(179)-102-8139</span>",
      "cell": "<span>(107)-396-0688</span>",
      "id": {
        "name": "<span>SSN</span>",
        "value": "<span>476-30-9095</span>"
      },
      "picture": {
        "large": "<span>https://randomuser.me/api/portraits/men/80.jpg</span>",
        "medium": "<span>https://randomuser.me/api/portraits/med/men/80.jpg</span>",
        "thumbnail": "<span>https://randomuser.me/api/portraits/thumb/men/80.jpg</span>"
      },
      "nat": "<span>US</span>"
    }
  ],
  "info": {
    "seed": "<span>705567e86a824a27</span>",
    "results": <span>1</span>,
    "page": <span>1</span>,
    "version": "<span>1.0</span>"
  }
}
</pre>
    </section>
    <section>
      <h2>Thank you for helping us help you help us all</h2>
      <p>Found a bug or have an idea?<br>Contribute to randomuser.me's database on our <a href="https://github.com/randomapi">Github Repo</a>.</p>
      <h2>Contact Us</h2>
      <p>If you have any questions/feedback or would like to get in touch with us, tweet us <a href="https://twitter.com/randomapi">@randomapi</a></p>
    </section>
    <section class="cheat">
      <p>&uarr; &uarr; &darr; &darr; &larr; &rarr; &larr; &rarr; B A</p>
    </section>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
