<% include ../snippets/header %>

<body class="">

  <% include ../snippets/nav %>

  <header>
    <h1>Random User Generator</h1>
    <p>A free, <a id="openSource" href="https://github.com/RandomAPI/Randomuser.me-Node">open-source</a> API for generating random user data. Like Lorem Ipsum, but for people. </p>
    <a href="https://twitter.com/randomapi" class="twitter"><img src="img/twitter.png">Follow us @randomapi</a>
  </header>

  <div class="frame card_offset">
    <div class="card">
      <div class="details">
        <div class="user_photo horizontal_center" id="user_photo">
          <a href="javascript:getNewUser();" class="refresh">New</a>
          <img src="">
        </div>
        <p id="user_title">Hi, My name is</p>
        <p id="user_value">...</p>
      </div>

      <ul class="values_list horizontal_center" id="values_list">
        <li data-title="Hi, My name is"
          data-value="..."
          data-label="name"
          class="active"></li>
        <li data-title="My email address is"
          data-value="..."
          data-label="email"
          data-caps="false"></li>
        <li data-title="My birthday is"
          data-value="..."
          data-label="birthday"></li>
        <li data-title="My address is"
          data-value="..."
          data-label="location"></li>
        <li data-title="My phone number is"
          data-value="..."
          data-label="phone"></li>
        <li data-title="My password is"
          data-value="..."
          data-label="pass"
          data-caps="false"></li>
      </ul>
    </div>

    <section class="sponsor">
      <h2>Sponsored</h2>
      <h3>RandomAPI</h3>
      <p>Want to create your own <b>customized</b> data generator for your application?<br>Check out our other service RandomAPI!</p>
      <button id="learnmore" class="button" onClick="window.open('https://randomapi.com');">Learn More</button>
    </section>

    <% include ../snippets/ads %>

    <section>
      <h2>How to use</h2>
      <p>You can use AJAX to call the Random User Generator API and will receive a randomly generated user in return. If you are using jQuery, you can use the $.ajax() function in the code snippet below to get started.</p>
      <pre>
$.ajax({
  url: '<span>https://randomuser.me/api/</span>',
  dataType: '<span>json</span>',
  success: function(<span>data</span>) {
    console.log(<span>data</span>);
  }
});
      </pre>
    </section>

    <section>
      <h2>Results</h2>
      <p>The application will provide you with a JSON, XML, CSV, or YAML object that you can parse and apply to your application.</p>
      <p>You can specify the format you want the results in using the <a href="documentation#format">format</a> parameter.</p>
<pre>
{
  "results": [
    {
      "gender": "<span>male</span>",
      "name": {
        "title": "<span>mr</span>",
        "first": "<span>brad</span>",
        "last": "<span>gibson</span>"
      },
      "location": {
        "street": "<span>9278 new road</span>",
        "city": "<span>kilcoole</span>",
        "state": "<span>waterford</span>",
        "postcode": "<span>93027</span>",
        "coordinates": {
          "latitude": "<span>20.9267</span>",
          "longitude": "<span>-7.9310</span>"
        },
        "timezone": {
          "offset": "<span>-3:30</span>",
          "description": "<span>Newfoundland</span>"
        }
      },
      "email": "<span>brad.gibson@example.com</span>",
      "login": {
        "uuid": "<span>155e77ee-ba6d-486f-95ce-0e0c0fb4b919</span>",
        "username": "<span>silverswan131</span>",
        "password": "<span>firewall</span>",
        "salt": "<span>TQA1Gz7x</span>",
        "md5": "<span>dc523cb313b63dfe5be2140b0c05b3bc</span>",
        "sha1": "<span>7a4aa07d1bedcc6bcf4b7f8856643492c191540d</span>",
        "sha256": "<span>74364e96174afa7d17ee52dd2c9c7a4651fe1254f471a78bda0190135dcd3480</span>"
      },
      "dob": {
        "date": "<span>1993-07-20T09:44:18.674Z</span>",
        "age": <span>26</span>
      },
      "registered": {
        "date": "<span>2002-05-21T10:59:49.966Z</span>",
        "age": <span>17</span>
      },
      "phone": "<span>011-962-7516</span>",
      "cell": "<span>081-454-0666</span>",
      "id": {
        "name": "<span>PPS</span>",
        "value": "<span>0390511T</span>"
      },
      "picture": {
        "large": "<span>https://randomuser.me/api/portraits/men/75.jpg</span>",
        "medium": "<span>https://randomuser.me/api/portraits/med/men/75.jpg</span>",
        "thumbnail": "<span>https://randomuser.me/api/portraits/thumb/men/75.jpg</span>"
      },
      "nat": "<span>IE</span>"
    }
  ],
  "info": {
    "seed": "<span>fea8be3e64777240</span>",
    "results": <span>1</span>,
    "page": <span>1</span>,
    "version": "<span>1.3</span>"
  }
}
</pre>
    </section>
    <section>
      <h2>Thank you for helping us help you help us all</h2>
      <p>Found a bug or have an idea?<br>Contribute to randomuser.me's database on our <a href="https://github.com/RandomAPI/Randomuser.me-Node">Github Repo</a>.</p>
      <h2>Contact Us</h2>
      <p>If you have any questions/feedback or would like to get in touch with us, tweet us <a href="https://twitter.com/randomapi">@randomapi</a></p>
    </section>
    <section class="cheat">
      <p>&uarr; &uarr; &darr; &darr; &larr; &rarr; &larr; &rarr; B A</p>
    </section>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
