<% include ../snippets/header %>

<body class="photos">
  <div class="modal_mask">
    <div class="modal">
      <img src="https://randomuser.me/api/portraits/men/15.jpg" id="large_img">
    </div>
  </div>

  <% include ../snippets/nav %>

  <% var subpageData = {title: "Profile Photos", subTitle: "Don't want the data? Here's 200 friendly faces."}; %>
  <% include ../snippets/subpage %>

  <div class="frame">

  <% if (Math.floor(Math.random() * 2) === 1) { %>
    <section id="women">
      <h2>Ladies</h2>
      <div id="photos_women"></div>
    </section>
    <section id="men">
      <h2>Gentlemen</h2>
      <div id="photos_men"></div>
    </section>
  <% } else { %>
    <section id="men">
      <h2>Gentlemen</h2>
      <div id="photos_men"></div>
    </section>
    <section id="women">
      <h2>Ladies</h2>
      <div id="photos_women"></div>
    </section>
  <% } %>
    <section id="lego">
      <h2>Lego</h2>
      <div id="photos_lego"></div>
    </section>

    <% include ../snippets/ads %>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
