<% include ../snippets/header %>

<body class="donate">

  <% include ../snippets/nav %>

  <% var subpageData = {title: "Sketch Extension", subTitle: "Free Sketch extension. Easily drag and drop random users into your Sketch Documents"}; %>
  <% include ../snippets/subpage %>

  <div class="frame">

    <section>
      <div class="floating_icon">
        <img src="img/img_sketch.png" alt="Donate now!">
      </div>
    </section>

    <section id="install">
      <h2>Coming Soon</h2>
      <p>The Sketch app extension is currently being developed. Please check back frequently for updates.</p>
    </section>

    <section id="install">
      <h2>Contribute</h2>
      <p>Want to contribute to the official sketch plugin? We're in need of Cocoa developers to give us a boost. If you're interested, send an email to Arron or Keith.</p>
    </section>
    <% include ../snippets/ads %>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
</body>
</html>
