<% include ../snippets/header %>

<body class="stats">
  <server hidden></server>

  <% include ../snippets/nav %>

  <% var subpageData = {title: "Stats & Graphs", subTitle: "Check out how awesome we are!"}; %>
  <% include ../snippets/subpage %>

  <div class="frame" style="margin-bottom: 100px;">
    <section>
      <h2>Last 30 days</h2>
      <p>View our overall API requests for the past 30 days.</p>
      <div id="charts" style="width: 100%; height: 100%; margin: 0 auto"></div>
    </section>

    <section class="small push">
      <h2>Users Generated (total)</h2>
      <span id="stat_total_users">...</span>
    </section>

    <section class="small">
      <h2>Bandwidth (total)</h2>
      <span id="stat_total_bandwidth">...</span>
    </section>

    <section class="small push">
      <h2>Users generated today</h2>
      <span id="stat_today">...</span>
    </section>

    <section class="small">
      <h2>Bandwidth today</h2>
      <span id="stat_today_bandwidth">...</span>
    </section>

    <section class="small push">
      <h2>30 day average</h2>
      <span id="stat_thirty_avg">...</span>
    </section>

    <section class="small">
      <!-- <h2>API Uptime</h2> -->
      <h2>API load average</h2>
      <!-- <span id="uptime">...</span> -->
      <span id="stat_loadavg">...</span>
    </section>
    <% include ../snippets/ads %>
  </div>
  <% include ../snippets/footer %>
  <% include ../snippets/analytics %>
  <script src="js/highcharts.js"></script>
  <script src="js/socket.io.min.js"></script>
</body>
</html>
